{% raw %}{{ range services }}{{ if .Tags | contains "web" }}
## Service: {{.Name}}
upstream {{.Name}} {
  least_conn;
  {{range service .Name "passing" }}server {{.Address}}:{{.Port}} max_fails=3 fail_timeout=60 weight=1;
  {{else}}server 127.0.0.1:65535; # force a 502{{end}}
}{% endraw %}

server {
  listen 80;
  server_name {% raw %}{{.Name}}{% endraw %}.{{ external_domain_name }};

  proxy_set_header Host $host;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  proxy_set_header X-Forwarded-Host $host;
  proxy_set_header X-Forwarded-Server $host;
  proxy_set_header X-Real-IP $remote_addr;

  location /favicon {
    empty_gif;
    access_log off;
    log_not_found off;
  }

  location / {
    proxy_pass http://{% raw %}{{.Name}}{% endraw %};
  }
}
{% raw %}{{ end }}{{ end }}{% endraw %}