apiVersion: 1

providers:
- name: 'dinivas-infra'
  orgId: 1
  folder: 'Dinivas infra'
  type: file
  disableDeletion: false
  editable: true
  options:
    path: {{ grafana_data_dir }}/dashboards/infra
- name: 'dinivas-rabbitmq'
  orgId: 1
  folder: 'Rabbitmq'
  type: file
  disableDeletion: false
  editable: true
  options:
    path: {{ grafana_data_dir }}/dashboards/rabbitmq
